header{
    border-bottom: solid yellowgreen;
    background-color: rgb(44, 157, 255);
    padding: 40px;
    border: solid 2px;
}
header img{
    width: 320px;
}
header div{
    display: flex;
    align-items: center;
    justify-content: center;
}
div a{
    text-decoration: none;
    color: inherit;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-family: 'jvd';
    /* padding: 10px;
    margin:5px; */
    border : solid 2px;
    
}
body{
    height: 930px;
    display: flex;
    flex-direction: column;
    font-family: 'jvd';
    background-color : black;
    color: aliceblue;
}
#btn{
    display: flex;
    justify-content: center;
}
main button{
    background-color: yellow;
    font-family: 'jvd';
    border:solid 2px blanchedalmond;
    border-radius: 5px
    
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
footer{
    display: flex;
    justify-content: center ;
    background-color: rgb(44, 157, 255);
    border: solid 2px;
    width: 100%;
}
@font-face {
	font-family: 'jvd';
    src: url(../font/ARCADECLASSIC.TTF);
}
